.App {
  text-align: center;
}
h1 {
  font-size: 90px;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  padding-bottom: 100px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.appLink {
  color: #61dafb;
}

.appHeaderSpin {
  animation: headerColorShift infinite 2s linear;
}

@keyframes headerSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fact {
  animation: factColorShift infinite 1s linear;
}

@keyframes factColorShift {
  0% { background-color: #f60000; }
  25% { background-color:  #ff8c00; }
  50% { background-color: #ffee00; }
  750% { background-color: #4de94c; }
  100% { background-color: #3783ff; }
}

@keyframes headerColorShift {
  0% { color: #f60000; margin-left: 0; }
  25% { color:  #ff8c00; margin-left: 500px; }
  50% { color: #ffee00; margin-left: 1000px; }
  750% { color: #4de94c; margin-left: 500px; }
  100% { color: #3783ff; margin-left: 0; }
}

.smsTextArea {
  width: 100%;
}

.nameTextArea {
  margin-top: 10px;
}
